workflows/container-update-form.json
{
  "name": "Container Update Form",
  "nodes": [
    {
      "id": "f1111111-aaaa-4aaa-aaaa-111111111111",
      "name": "Update Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "79b1437d-3c8c-4ba4-8f9f-391d413a46fd",
      "parameters": {
        "formTitle": "Container Update",
        "formDescription": "Select a service to pull the latest image and restart it.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Internal Services",
              "fieldType": "dropdown",
              "multiselect": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "example-service-1"
                  },
                  {
                    "option": "example-service-2"
                  },
                  {
                    "option": "example-service-3"
                  }
                ]
              },
              "requiredField": false
            },
            {
              "fieldLabel": "DMZ Services",
              "fieldType": "dropdown",
              "multiselect": true,
              "fieldOptions": {
                "values": [
                  {
                    "option": "dmz-example-service-1"
                  },
                  {
                    "option": "dmz-example-service-2"
                  }
                ]
              },
              "requiredField": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "8bfd7b6e-efd4-40f7-bf53-1955a01d43e0",
      "name": "Split Internal Services",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        -120
      ],
      "parameters": {
        "fieldToSplitOut": "Internal Services",
        "options": {}
      }
    },
    {
      "id": "e1e78d5c-ea05-480b-93ee-79e0244f3477",
      "name": "Split DMZ Services",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        120
      ],
      "parameters": {
        "fieldToSplitOut": "DMZ Services",
        "options": {}
      }
    },
    {
      "id": "s2222222-bbbb-4bbb-bbbb-222222222222",
      "name": "Run Update via SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        560,
        -120
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "REPLACE_ME",
          "name": "SSH Private Key - Internal Docker Host"
        }
      },
      "parameters": {
        "authentication": "privateKey",
        "command": "=cd <path-to-compose-files>/{{ $json['Internal Services'] }} && docker compose pull && docker compose up -d 2>&1"
      }
    },
    {
      "id": "5269ef7b-4ab7-417c-8471-cd86a6310dd7",
      "name": "Run Update via SSH (DMZ)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        560,
        120
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "REPLACE_ME",
          "name": "SSH Private Key - DMZ Docker Host"
        }
      },
      "parameters": {
        "authentication": "privateKey",
        "command": "=cd <path-to-dmz-compose-files>/{{ $json['DMZ Services'] }} && docker compose pull && docker compose up -d 2>&1"
      }
    },
    {
      "id": "d5d794da-09c4-4cb2-87dd-4eb24f52401c",
      "name": "Tag Internal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -120
      ],
      "parameters": {
        "jsCode": "return {\n  json: {\n    ...$json,\n    hostLabel: 'Internal',\n    serviceName: $('Split Internal Services').item.json['Internal Services'],\n  },\n};",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "0d7bbcea-ac55-4b14-9473-ab595161a92d",
      "name": "Tag DMZ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        120
      ],
      "parameters": {
        "jsCode": "return {\n  json: {\n    ...$json,\n    hostLabel: 'DMZ',\n    serviceName: $('Split DMZ Services').item.json['DMZ Services'],\n  },\n};",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "b7292da8-7d70-4639-a096-cacc88fa4e08",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        0
      ],
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '';\nconst stderr = $json.stderr || '';\nconst exitCode = $json.code;\n// docker compose pull/up write normal progress output to stderr even on success,\n// so exit code alone is the reliable success signal here.\nconst success = exitCode == 0 || exitCode === '0';\n\nreturn {\n  json: {\n    ...$json,\n    status: success ? 'success' : 'failure',\n    excerpt: (success ? stdout : (stderr || stdout)).slice(-2000),\n  },\n};",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "ab91573e-3cb6-4152-8501-0776e06b6780",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e66c3ef2-5a95-4bc4-b301-e3846131c24a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "t3333333-cccc-4ccc-cccc-333333333333",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        -80
      ],
      "webhookId": "8b55852a-0c68-4e9b-a195-63af0fd49b94",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ <b>Update Complete</b>\n\n<b>Host:</b> {{ $json.hostLabel }}\n<b>Service:</b> <code>{{ $json.serviceName }}</code>\n\n<pre>{{ $json.excerpt }}</pre>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    },
    {
      "id": "d7731cba-49fc-4150-b63d-1418470ad614",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ <b>Update Failed</b>\n\n<b>Host:</b> {{ $json.hostLabel }}\n<b>Service:</b> <code>{{ $json.serviceName }}</code>\n\n<pre>{{ $json.excerpt }}</pre>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "webhookId": "44c64add-80ed-4b71-aeb1-71dea0e6fa82"
    }
  ],
  "connections": {
    "Update Form": {
      "main": [
        [
          {
            "node": "Split Internal Services",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split DMZ Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Internal Services": {
      "main": [
        [
          {
            "node": "Run Update via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split DMZ Services": {
      "main": [
        [
          {
            "node": "Run Update via SSH (DMZ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Update via SSH": {
      "main": [
        [
          {
            "node": "Tag Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Update via SSH (DMZ)": {
      "main": [
        [
          {
            "node": "Tag DMZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Internal": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag DMZ": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}