workflows/update-amp-server.json
{
  "name": "Update AMP Server",
  "nodes": [
    {
      "parameters": {
        "command": "sudo apt update 2>&1 && echo \"---UPDATE DONE---\" && sudo apt upgrade -y 2>&1"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        624,
        48
      ],
      "id": "6ebcb2ed-3e8f-465d-a084-94ad0dc9c3f4",
      "name": "Execute a command",
      "alwaysOutputData": true,
      "credentials": {
        "sshPassword": {
          "id": "REPLACE_ME",
          "name": "SSH Password - AMP Server"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a43a39a-3363-45b8-a0b3-ff6989fb2068",
              "leftValue": "={{ $json.stderr }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0e0220ba-e430-499f-8a33-be6a1929e81b",
              "leftValue": "={{ $json.code }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        48
      ],
      "id": "84951580-0dd5-4dfe-a252-4fd01864dc51",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Ubuntu update complete on AMP server     \n\n{{ $json.stdout }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        144
      ],
      "id": "93a7ace7-d660-410e-a9a2-34031e26efb4",
      "name": "Send Success",
      "webhookId": "b29b2d19-1c4f-47b5-8e4d-391ea6631a27",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ Workflow failed: {{ $json.workflow.name }}\n\n\nError: {{ $json.stderr }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -48
      ],
      "id": "37cfc118-4419-43c1-9037-5ad5f23bf52c",
      "name": "Send Failure",
      "webhookId": "46b033c8-26b9-413b-b771-14a1e8235583",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        400,
        48
      ],
      "id": "c1f1cc89-d03e-4b3f-8ad3-2e70d4b7c283",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const lines = $json.stdout.split('\\n');\nconst last10 = lines.slice(-10).join('\\n');\n\nreturn [{ json: { ...$json, stdout: last10 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        48
      ],
      "id": "0bd8e666-e371-4667-8e59-94ef70e06b1c",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}