workflows/update-ghost-ubuntu.json
{
  "name": "Update Ghost Ubuntu",
  "nodes": [
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "apt update 2>&1 && echo \"---UPDATE DONE---\" && apt upgrade -y 2>&1"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        512,
        64
      ],
      "id": "ce52f941-7136-438b-bf51-731f04e0beec",
      "name": "Execute a command",
      "alwaysOutputData": true,
      "credentials": {
        "sshPrivateKey": {
          "id": "REPLACE_ME",
          "name": "SSH Private Key - Ghost Server"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a43a39a-3363-45b8-a0b3-ff6989fb2068",
              "leftValue": "={{ $json.stderr }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0e0220ba-e430-499f-8a33-be6a1929e81b",
              "leftValue": "={{ $json.code }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        64
      ],
      "id": "4e20de58-7591-4058-a84b-d944478ed0e2",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Ubuntu update complete on Ghost server      \n\n{{ $json.stdout }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        224
      ],
      "id": "c76eec7b-063c-437c-8024-73c224cf5a77",
      "name": "Send Success",
      "webhookId": "20de3793-097b-49cf-a8c8-bc945e14b1c5",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ Workflow failed: {{ $json.workflow.name }}\n\n\nError: {{ $json.stderr }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -48
      ],
      "id": "05cbb135-1fe3-446c-9cb5-491a19ab9d72",
      "name": "Send Failure",
      "webhookId": "9f288fde-71bc-4624-a219-3a0fdccd7627",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        64
      ],
      "id": "012b8bc7-762c-4a7d-b34b-8907a09dae08",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const lines = $json.stdout.split('\\n');\nconst last10 = lines.slice(-10).join('\\n');\n\nreturn [{ json: { ...$json, stdout: last10 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        64
      ],
      "id": "b0ef034d-96de-4f28-a35e-e2102b270fc0",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}